body {
    background-color: black;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    margin-top: 100px;
}



#piano-keys {
    background-color: white;
    height: 200px;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}